.wrapper {
  padding-bottom: 50px;
}

.buttonLoadMore {
  margin-top: 30px;
  padding: 8px 16px;
  display: block;
  min-width: 180px;
  width: 100%;
  height: 40px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: center;

  border-radius: 2px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonLoadMore:hover,
.buttonLoadMore:focus {
  background-color: #303f9f;
}

.wrapperGallery {
  margin-top: 30px;
}
